body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  #mapid {
    width: 100%;
    height: calc(100% - 80px); /* Höhe der Top-Bar berücksichtigen */
  }
  
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
  }
  
  .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .input-group > * {
    flex: 1 1 100%;
    margin: 5px 0;
  }
  
  .date-time-input,
  .select-input,
  .text-input,
  .search-button {
    padding: 10px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #007AFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #005bb5;
  }
  
  @media (min-width: 600px) {
    .input-group {
      flex-wrap: nowrap;
    }
    
    .input-group > * {
      flex: none;
      margin: 0 5px;
    }
  }
  
